Repository malibio/nodespace-desktop-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-check, rust-clippy, rust-fmt-check, typescript-check, npm-test

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: rust-check
        name: Rust cargo check
        entry: bash -c 'cd src-tauri && cargo check --all-targets'
        language: system
        files: '^src-tauri/.*\.rs$'
        pass_filenames: false
        
      - id: rust-clippy
        name: Rust clippy
        entry: bash -c 'cd src-tauri && cargo clippy --all-targets -- -D warnings'
        language: system
        files: '^src-tauri/.*\.rs$'
        pass_filenames: false
        
      - id: rust-fmt-check
        name: Rust format check
        entry: bash -c 'cd src-tauri && cargo fmt --all -- --check'
        language: system
        files: '^src-tauri/.*\.rs$'
        pass_filenames: false
        
      - id: typescript-check
        name: TypeScript check
        entry: npm run type-check
        language: system
        files: '^src/.*\.(ts|tsx)$'
        pass_filenames: false
        
      - id: npm-test
        name: Run npm tests
        entry: npm test -- --run
        language: system
        files: '^src/.*\.(ts|tsx|js|jsx)$'
        pass_filenames: false

NS-63: Implement slash command support for AIChatNode creation
  src-tauri/Cargo.lock
  src/App.tsx
Due: typescript-check, npm-test

NS-63: Implement slash command support for AIChatNode creation
  src/App.tsx
Due: typescript-check, npm-test

NS-63: Fix test failures for slash command implementation
  src-tauri/src/lib.rs
  src-tauri/src/tests.rs
Due: rust-check, rust-clippy, rust-fmt-check

NS-63: Add database and ML model files to gitignore
  .gitignore
Due: none

NS-63: Fix desktop app integration with NodeSpaceService API
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
Due: rust-check, rust-clippy, rust-fmt-check

NS-63: Implement '/' Slash Command for AIChatNode Creation (#12)
  .gitignore
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
  src-tauri/src/tests.rs
  src/App.tsx
Due: rust-check, rust-clippy, rust-fmt-check, typescript-check, npm-test

Clean up repository dependencies and git history
  src-tauri/Cargo.toml
Due: none

Fix dark mode styling issue for main content area
  src/App.css
  src/App.tsx
Due: typescript-check, npm-test

Fix unified canvas appearance by matching app and canvas background colors
  src/App.css
Due: none

Complete unified canvas fix by matching header background
  src/App.css
Due: none

Fix remaining hardcoded backgrounds for complete unified canvas
  src/App.css
Due: none

Add missing --ns-dark-bg CSS variable for core-ui compatibility
  src/App.css
Due: none

Fix node persistence by ensuring single UUID generation point
  src/App.tsx
Due: typescript-check, npm-test

Fix double JSON encoding causing escaped quotes in node content
  src/App.tsx
Due: typescript-check, npm-test

Fix node persistence and clean up debug code
  .env
  .env.example
  CONFIGURATION.md
  src-tauri/src/config.rs
  src-tauri/src/lib.rs
  src-tauri/src/logging.rs
  src-tauri/tauri.conf.json
  src/App.tsx
Due: rust-check, rust-clippy, rust-fmt-check, typescript-check, npm-test

NS-84: Implement multimodal file processing commands per ADR-015
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/src/lib.rs
Due: rust-check, rust-clippy, rust-fmt-check

NS-84: Implement multimodal file processing commands per ADR-015 (#13)
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/src/lib.rs
Due: rust-check, rust-clippy, rust-fmt-check

Fix missing parent_id field in Node construction for tests
  src-tauri/src/lib.rs
  src-tauri/src/tests.rs
Due: rust-check, rust-clippy, rust-fmt-check

Fix missing parent_id field in Node construction for tests (#14)
  src-tauri/src/lib.rs
  src-tauri/src/tests.rs
Due: rust-check, rust-clippy, rust-fmt-check

NS-105: Implement empty date handling and lazy date node creation
  src-tauri/src/lib.rs
  src/App.tsx
Due: rust-check, rust-clippy, rust-fmt-check, typescript-check, npm-test

NS-105: Implement empty date handling and lazy date node creation (#15)
  src-tauri/src/lib.rs
  src/App.tsx
Due: rust-check, rust-clippy, rust-fmt-check, typescript-check, npm-test

NS-109: Update desktop-app to use new date-aware node creation API
  src-tauri/src/lib.rs
Due: rust-check, rust-clippy, rust-fmt-check

NS-109: Update desktop-app to use new date-aware node creation API (#16)
  src-tauri/src/lib.rs
Due: rust-check, rust-clippy, rust-fmt-check

NS-111: Remove frontend hierarchy computation and use core-logic structured data
  src-tauri/src/lib.rs
  src/App.tsx
Due: rust-check, rust-clippy, rust-fmt-check, typescript-check, npm-test

NS-111: Remove frontend hierarchy computation and use core-logic structured data (#17)
  src-tauri/src/lib.rs
  src/App.tsx
Due: rust-check, rust-clippy, rust-fmt-check, typescript-check, npm-test

NS-119: Remove frontend hierarchical conversion layers
  src/App.tsx
Due: typescript-check, npm-test

NS-119: Remove frontend hierarchical conversion layers (#18)
  src/App.tsx
Due: typescript-check, npm-test

Clean up debug code and excessive comments
  src-tauri/src/lib.rs
  src-tauri/src/logging.rs
  src/App.tsx
Due: rust-check, rust-clippy, rust-fmt-check, typescript-check, npm-test

Fix TypeScript linting issues and Rust formatting
  src-tauri/src/lib.rs
  src-tauri/src/logging.rs
  src/App.tsx
Due: rust-check, rust-clippy, rust-fmt-check, typescript-check, npm-test
