Repository malibio/nodespace-desktop-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-check, rust-clippy, rust-fmt-check, typescript-check, npm-test

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: rust-check
        name: Rust cargo check
        entry: bash -c 'cd src-tauri && cargo check --all-targets'
        language: system
        files: '^src-tauri/.*\.rs$'
        pass_filenames: false
        
      - id: rust-clippy
        name: Rust clippy
        entry: bash -c 'cd src-tauri && cargo clippy --all-targets -- -D warnings'
        language: system
        files: '^src-tauri/.*\.rs$'
        pass_filenames: false
        
      - id: rust-fmt-check
        name: Rust format check
        entry: bash -c 'cd src-tauri && cargo fmt --all -- --check'
        language: system
        files: '^src-tauri/.*\.rs$'
        pass_filenames: false
        
      - id: typescript-check
        name: TypeScript check
        entry: npm run type-check
        language: system
        files: '^src/.*\.(ts|tsx)$'
        pass_filenames: false
        
      - id: npm-test
        name: Run npm tests
        entry: npm test -- --run
        language: system
        files: '^src/.*\.(ts|tsx|js|jsx)$'
        pass_filenames: false

NS-123: Remove virtual node conversion logic from desktop app
  src-tauri/src/lib.rs
  src-tauri/src/tests.rs
  src/App.tsx
Due: rust-check, rust-clippy, rust-fmt-check, typescript-check, npm-test

NS-123: Remove virtual node conversion logic from desktop app (#20)
  src-tauri/src/lib.rs
  src-tauri/src/tests.rs
  src/App.tsx
Due: rust-check, rust-clippy, rust-fmt-check, typescript-check, npm-test

NS-123: CORRECTED - Use proper create_node_for_date_with_id API and NS-124 integration
  src-tauri/src/lib.rs
  src/App.tsx
Due: rust-check, rust-clippy, rust-fmt-check, typescript-check, npm-test

NS-123: CRITICAL CORRECTIONS - Address Lead Engineer Review Findings
  src-tauri/src/lib.rs
Due: rust-check, rust-clippy, rust-fmt-check

NS-125: Migrate to new simplified Node schema
  src-tauri/src/tests.rs
Due: rust-check, rust-clippy, rust-fmt-check

NS-123: Fix create_node_for_date_with_id implementation
  src-tauri/src/lib.rs
Due: rust-check, rust-clippy, rust-fmt-check

NS-123: CRITICAL FIX - Actually implement create_node_for_date_with_id backend
  src-tauri/src/lib.rs
Due: rust-check, rust-clippy, rust-fmt-check

NS-123: Update dependencies and callback interface implementation
  package-lock.json
  src/App.tsx
Due: typescript-check, npm-test

NS-123: Remove virtual node conversion logic from desktop app (#21)
  package-lock.json
  src-tauri/src/lib.rs
  src-tauri/src/tests.rs
  src/App.tsx
Due: rust-check, rust-clippy, rust-fmt-check, typescript-check, npm-test

NS-128: Verify and enhance Ollama integration for AI chat interface
  ollama_integration_status.md
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
  src-tauri/src/logging.rs
  src-tauri/src/test_onnx.rs
  src-tauri/src/tests.rs
  src-tauri/tauri.conf.json
  test_ai_integration.rs
  verify_ollama_integration.py
Due: rust-check, rust-clippy, rust-fmt-check

NS-128: Fix code formatting and linting issues
  src-tauri/src/lib.rs
  src-tauri/src/test_onnx.rs
Due: rust-check, rust-clippy, rust-fmt-check

NS-128: Configure Tauri to use port 3000 consistently
  src-tauri/tauri.conf.json
  src/App.css
  src/App.tsx
Due: typescript-check, npm-test

Fix relevance scores: Preserve individual search result scores
  src-tauri/src/lib.rs
  src/App.tsx
Due: rust-check, rust-clippy, rust-fmt-check, typescript-check, npm-test

Remove test files and debug code, clean up codebase
  ollama_integration_status.md
  src-tauri/src/lib.rs
  src-tauri/src/test_onnx.rs
  src/App.tsx
  test_ai_integration.rs
  verify_ollama_integration.py
Due: rust-check, rust-clippy, rust-fmt-check, typescript-check, npm-test

Clean codebase: remove debug logs, ADR/NS refs, and unused code
  package-lock.json
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
  src-tauri/src/logging.rs
  src/App.css
  src/App.test.tsx
  src/App.tsx
Due: rust-check, rust-clippy, rust-fmt-check, typescript-check, npm-test

Update README.md: remove redundant documentation section
  README.md
Due: none
